{% extends 'core/base.html' %}

{% block title %} Plans |{% endblock title %}
{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Plans</h1>
            <h2 class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, dignissimos!</h2>
        </div>
    </div>
</section>


<div class="columns mt-4">
    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <p class="title is-4"> Free</p>
                    <p class="subtitle is-6">$0</p>
                </div>
            </div>

            <div class="content">
                <ul>
                    <li>3 Projects</li>
                    <li>1 Number</li>
                    <li>10 tasks oer project</li>
                </ul>
                <hr>
                <a href="Get Started" class="button is-primary">Get Started</a>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <p class="title is-4"> Basic</p>
                    <p class="subtitle is-6">$05/p>
                </div>
            </div>

            <div class="content">
                <ul>
                    <li>10 Projects</li>
                    <li>15 members</li>
                    <li>30 tasks oer project</li>
                </ul>
                <hr>
                <a href="Get Started" class="button is-primary">Get Started</a>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <p class="title is-4"> Pro</p>
                    <p class="subtitle is-6">$10</p>
                </div>
            </div>

            <div class="content">
                <ul>
                    <li>35 Projects</li>
                    <li>15 Number</li>
                    <li>100 tasks oer project</li>
                </ul>
                <hr>
                <a href="Get Started" class="button is-primary">Get Started</a>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">

                    <p class="title is-4"> Need More</p>
                    <p class="subtitle is-6">$?</p>
                </div>
            </div>

            <div class="content">
                <ul>
                    <li>Need More Projects</li>
                    <li>Need More Number</li>
                    <li>Need More tasks per project</li>
                </ul>
                <hr>
                <a href="Get Started" class="button is-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}